form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
#sub1{
    width: 30%;
    margin: auto;
    background-color: blue;
}
#sub1:hover{
    background-color: aqua;
}
#alt01{
    border: double;
    margin-bottom: 30px;

}
#email01{
    border: ridge;
}
#alt01:focus{
    border-style: none;
    outline: 0;
}